<footer class="bg-blue-400 text-white p-4 flex justify-between items-center">
    <div class="text-lg font-bold">© <span id="current-year"></span> Gabrielgsd</div>
    <div class="flex space-x-4">
        <a href="https://github.com/GabrielgsdCIUwU" target="_blank" class="text-white hover:text-gray-300"
            aria-label="Mi perfil de Github">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.twitch.tv/gabrielgsd_ci" target="_blank" class="text-white hover:text-gray-300"
            aria-label="Mi perfil de Twitch">
            <i class="fab fa-twitch"></i>
        </a>
        <a href="https://www.youtube.com/@gabrielgsd" target="_blank" class="text-white hover:text-gray-300"
            aria-label="Mi perfil de Youtube">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://ko-fi.com/gabrielgsd" target="_blank" class="text-white hover:text-gray-300 relative"
            aria-label="Mi perfil de ko-fi">
            <i class="fas fa-ko-fi"></i>
        </a>
    </div>
</footer>

<script>
    document.getElementById("current-year").textContent = new Date().getFullYear();
</script>