<header class="bg-blue-400 text-white flex justify-between items-center p-4 relative z-10">
  <div class="flex items-center space-x-4">
    <button id="menu-toggle" class="focus:outline-none" aria-label="Menú">
      <i id="menu-icon" class="fas fa-bars"></i>
    </button>
    <a href="/"><span class="text-xl">Gabrielgsd</span></a>
  </div>
  <div class="flex flex-wrap space-x-4">
    <a href="https://github.com/GabrielgsdCIUwU" target="_blank" class="text-white hover:text-gray-300"
      aria-label="Mi perfil de Github">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://ko-fi.com/gabrielgsd" target="_blank" class="text-white hover:text-gray-300 relative"
      aria-label="Mi perfil de ko-fi">
      <i class="fas fa-ko-fi"></i>
    </a>
  </div>
</header>