<nav id="sidebar"
    class="bg-blue-400 text-white w-48 h-full fixed transform -translate-x-full transition-transform duration-300 z-20">
    <ul class="space-y-2 mt-4 p-4">
        <li class="text-xl font-bold text-white mb-4">Menú</li>
        
        <% if (menuItems && menuItems.length) { %>
            <% menuItems.forEach(item => { %>
                <li class="menu-item text-center">
                    <%- item %>
                </li>
            <% }) %>
        <% } %>
    </ul>
</nav>