<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Gabrielgsd: Creación de contenido, programación, edición de avatares y mundos VRChat. Experticia en desarrollo, diseño y edición. Proyectos innovadores y comentarios de usuarios." />
    <meta property="og:title" content="Gabrielgsd | Portafolio" />
    <meta
      property="og:description"
      content="Hola! Soy Gabrielgsd, un programador Junior, editor de avatares y de mundos de VRChat. Si quieres saber más sobre mi o lo que hago, entra a mi portafolio." />
    <meta property="og:image" content="/resources/img/Gabri-Watching-Icon.jpg" />
    <meta property="og:url" content="https://gabrielgsd.developer.li" />
    <meta property="og:type" content="website" />
    <title>Gabrielgsd</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="icon" href="/resources/img/Gabri-Watching-Icon.jpg" type="image/png" />
    <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.5/build/spline-viewer.js"></script>
    <link rel="stylesheet" href="/resources/css/output-index.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  </head>

  <body class="bg-gray-200 flex flex-col min-h-screen">
    <header class="bg-blue-400 text-white flex justify-between items-center p-4 relative z-10">
      <div class="flex items-center space-x-4">
        <button id="menu-toggle" class="focus:outline-none" aria-label="Menú">
          <i id="menu-icon" class="fas fa-bars"></i>
        </button>
        <a href="#spline-section"><span class="text-xl">Gabrielgsd</span></a>
      </div>
      <div class="flex space-x-4">
        <a
          href="https://github.com/GabrielgsdCIUwU"
          target="_blank"
          class="text-white hover:text-gray-300"
          aria-label="Mi perfil de Github">
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.twitch.tv/gabrielgsd_ci"
          target="_blank"
          class="text-white hover:text-gray-300"
          aria-label="Mi perfil de Twitch">
          <i class="fab fa-twitch"></i>
        </a>
        <a
          href="https://www.youtube.com/@gabrielgsd"
          target="_blank"
          class="text-white hover:text-gray-300"
          aria-label="Mi perfil de Youtube">
          <i class="fab fa-youtube"></i>
        </a>
        <a
          href="https://ko-fi.com/gabrielgsd"
          target="_blank"
          class="text-white hover:text-gray-300 relative"
          aria-label="Mi perfil de ko-fi">
          <i class="fas fa-ko-fi"></i>
        </a>
        <a href="/auth" target="_blank" class="text-white rounded-md hover:bg-blue-600 focus:outline-none relative">
          Iniciar sesión
        </a>
      </div>
    </header>

    <div class="flex-1 flex flex-col overflow-y-auto">
      <nav
        id="sidebar"
        class="bg-blue-400 text-white w-48 h-full fixed transform -translate-x-full transition-transform duration-300 z-20">
        <ul class="space-y-2 mt-4 p-4">
          <li class="text-xl font-bold text-white mb-4">Menú</li>
          <li class="menu-item text-center">
            <a
              href="#spline-section"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Inicio</a
            >
          </li>
          <li class="menu-item text-center">
            <a
              href="#about-me"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Sobre mi</a
            >
          </li>
          <li class="menu-item text-center">
            <a
              href="#my-knowledge"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Conocimientos</a
            >
          </li>
          <li class="menu-item text-center">
            <a
              href="#projects-section"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Proyectos</a
            >
          </li>
          <li class="menu-item text-center">
            <a
              href="#testimonials-section"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Comentarios</a
            >
          </li>
          <li class="menu-item text-center">
            <a
              href="#contact-section"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Contacto</a
            >
          </li>
        </ul>
      </nav>

      <main id="main-content" class="flex-1 flex flex-col relative transition-all duration-300 ml-0">
        <section id="spline-section" class="w-full h-screen relative">
          <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.5/build/spline-viewer.js"></script>
          <spline-viewer
            id="spline-viewer"
            url="https://prod.spline.design/7W4P3fHeuiIc0No0/scene.splinecode"></spline-viewer>
        </section>
        <button id="toggle-view" class="absolute top-4 right-4 bg-blue-500 text-white p-2 rounded z-10"></button>
        <div class="block w-full h-10 bg-blue-400"></div>

        <section id="about-me" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Sobre Mí</h2>
          <p class="text-lg text-gray-600 mb-8">
            Soy Gabrielgsd, un creador de contenido, programador, editor de avatares y creador de mundos de VRChat.
          </p>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
              <h3 class="text-2xl font-bold text-gray-700 mb-4">Idiomas</h3>
              <p class="text-gray-500">
                Nativo: Español, Gallego.<br />
                B1: Inglés.
              </p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
              <h3 class="text-2xl font-bold text-gray-700 mb-4">Mi motivación</h3>
              <p class="text-gray-500">
                Estoy motivado por el deseo constante de aprender y adquirir nuevos conocimientos. Disfruto cada
                oportunidad de crecimiento y valoro los buenos momentos que esto me brinda. Además, me apasiona poder
                utilizar lo aprendido para contribuir y ayudar a los demás.
              </p>
            </div>
            <a
              href="/info"
              target="_self"
              class="bg-white p-6 rounded-lg shadow hover:shadow-xl hover:bg-blue-50 transition-shadow duration-300">
              <div>
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Más datos</h3>
                <p class="text-gray-500">¿Te gustaría conocer más datos sobre mi?</p>
                <br />
                <p class="text-gray-500">Entonces haz click aquí para tener más información.</p>
              </div>
            </a>
          </div>
        </section>

        <div class="block w-full h-10 bg-blue-400"></div>

        <section id="my-knowledge" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <div id="knowledge-intro"></div>

          <div class="flex justify-center mt-8">
            <button
              class="filter-button bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mx-2 rounded"
              data-category="all">
              Todos
            </button>
            <button
              class="filter-button bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mx-2 rounded"
              data-category="Desarrollo">
              Desarrollo
            </button>
            <button
              class="filter-button bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mx-2 rounded"
              data-category="Edición">
              Edición
            </button>
            <button
              class="filter-button bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 mx-2 rounded"
              data-category="Diseño">
              Diseño
            </button>
          </div>

          <div id="knowledge-grid" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8"></div>
        </section>

        <div class="block w-full h-10 bg-blue-400"></div>

        <section id="projects-section" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Proyectos Destacados</h2>
          <p class="text-lg text-gray-600 mb-8">Explora algunos de los proyectos más destacados que he desarrollado.</p>
          <div id="projects-container" class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-8"></div>
        </section>

        <div class="block w-full h-10 bg-blue-400"></div>

        <!-- Sección de comentarios -->
        <section id="testimonials-section" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Comentarios</h2>

          <div class="carousel-container">
            <div id="carousel1" class="carousel-wrapper">
              <div class="carousel">
                <div class="carousel-inner">
                  <!-- Comentarios se cargarán aquí dinámicamente -->
                </div>
              </div>
            </div>
            <div id="carousel2" class="carousel-wrapper">
              <div class="carousel">
                <div class="carousel-inner">
                  <!-- Comentarios se cargarán aquí dinámicamente -->
                </div>
              </div>
            </div>
            <div id="carousel3" class="carousel-wrapper">
              <div class="carousel">
                <div class="carousel-inner">
                  <!-- Comentarios se cargarán aquí dinámicamente -->
                </div>
              </div>
            </div>
          </div>

          <!-- Controles del Carrusel Externos -->
          <div class="flex justify-center mt-6 space-x-4">
            <button
              id="prev-slide"
              class="p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none"
              aria-label="Anterior lista comentarios">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button
              id="edit-comment-btn"
              class="p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none">
              Añade tu comentario
            </button>
            <button
              id="next-slide"
              class="p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none"
              aria-label="Posterior lista comentarios">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </section>

        <!-- Formulario de Comentario -->
        <div
          id="comment-form"
          class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
          <div class="bg-white p-8 rounded-md shadow-lg">
            <input
              id="comment-name"
              type="text"
              placeholder="Pon tu nombre aquí"
              class="p-2 mb-4 border border-gray-300 rounded-md w-full"
              required />
            <textarea
              id="comment-text"
              placeholder="Pon tu comentario aquí"
              class="p-2 mb-4 border border-gray-300 rounded-md w-full"
              rows="4"
              required></textarea>
            <button
              id="submit-comment"
              class="p-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none w-full">
              Enviar
            </button>
            <button
              id="cancel-comment"
              class="p-2 bg-red-500 text-white rounded-md hover:bg-red-600 focus:outline-none mt-4 w-full">
              Cancelar
            </button>
          </div>
        </div>

        <div class="block w-full h-10 bg-blue-400"></div>

        <section id="contact-section" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Contacto</h2>
          <p class="text-lg text-gray-600 mb-8">
            Puedes ponerte en contacto conmigo a través de los siguientes canales:
          </p>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-8">
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
              <h3 class="text-2xl font-bold text-gray-700 mb-4">Correo electrónico</h3>
              <p class="text-gray-500">
                <a href="mailto:ciavatarsvr@gmail.com" class="text-blue-500 hover:underline">ciavatarsvr@gmail.com</a>
              </p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
              <h3 class="text-2xl font-bold text-gray-700 mb-4">Discord</h3>
              <p class="text-gray-500">
                Añádeme en Discord: @gabrielgsdci
              </p>
            </div>
          </div>
        </section>

        <footer class="bg-blue-400 text-white p-4 flex justify-between items-center">
          <div class="text-lg font-bold">© <span id="current-year"></span> Gabrielgsd</div>
          <div class="flex space-x-4">
            <a
              href="https://github.com/GabrielgsdCIUwU"
              target="_blank"
              class="text-white hover:text-gray-300"
              aria-label="Mi perfil de Github">
              <i class="fab fa-github"></i>
            </a>
            <a
              href="https://www.twitch.tv/gabrielgsd_ci"
              target="_blank"
              class="text-white hover:text-gray-300"
              aria-label="Mi perfil de Twitch">
              <i class="fab fa-twitch"></i>
            </a>
            <a
              href="https://www.youtube.com/@gabrielgsd"
              target="_blank"
              class="text-white hover:text-gray-300"
              aria-label="Mi perfil de Youtube">
              <i class="fab fa-youtube"></i>
            </a>
            <a
              href="https://ko-fi.com/gabrielgsd"
              target="_blank"
              class="text-white hover:text-gray-300 relative"
              aria-label="Mi perfil de ko-fi">
              <i class="fas fa-ko-fi"></i>
            </a>
          </div>
        </footer>

        <script>
          document.getElementById("current-year").textContent = new Date().getFullYear();
        </script>

        <script src="../resources/js/main.js"></script>
        <script src="../resources/js/comentarios.js"></script>
      </main>
    </div>
  </body>
</html>
