<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabrielgsd</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="icon" href="/resources/img/Gabri-Watching-Icon.jpg" type="image/png" />
    <link rel="stylesheet" href="/resources/css/output-rusky.css" />
    <script src="/resources/js/lite-youtube.js" type="module"></script>
  </head>

  <body class="bg-gray-200 flex flex-col min-h-screen">
    <header class="bg-blue-400 text-white flex justify-between items-center p-4 relative z-10">
      <div class="flex items-center space-x-4">
        <button id="menu-toggle" class="focus:outline-none" aria-label="Menú">
          <i id="menu-icon" class="fas fa-bars"></i>
        </button>
        <a href="./index.html"><span class="text-xl">Gabrielgsd</span></a>
      </div>
      <div class="flex space-x-4">
        <a
          href="https://github.com/GabrielgsdCIUwU"
          target="_blank"
          class="text-white hover:text-gray-300"
          aria-label="Mi perfil de Github">
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.twitch.tv/gabrielgsd_ci"
          target="_blank"
          class="text-white hover:text-gray-300"
          aria-label="Mi perfil de Twitch">
          <i class="fab fa-twitch"></i>
        </a>
        <a
          href="https://www.youtube.com/@gabrielgsd"
          target="_blank"
          class="text-white hover:text-gray-300"
          aria-label="Mi perfil de Youtube">
          <i class="fab fa-youtube"></i>
        </a>
        <a
          href="https://ko-fi.com/gabrielgsd"
          target="_blank"
          class="text-white hover:text-gray-300 relative"
          aria-label="Mi perfil de ko-fi">
          <i class="fas fa-ko-fi"></i>
        </a>
        <a href="/auth" target="_blank" class="text-white rounded-md hover:bg-blue-600 focus:outline-none relative">
          Iniciar sesión
        </a>
      </div>
    </header>

    <div class="flex-1 flex flex-col overflow-y-auto">
      <nav
        id="sidebar"
        class="bg-blue-400 text-white w-48 h-full fixed transform -translate-x-full transition-transform duration-300 z-20">
        <ul class="space-y-2 mt-4 p-4">
          <li class="text-xl font-bold text-white mb-4">Menú</li>
          <li class="menu-item text-center">
            <a
              href="./index.html"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Inicio</a
            >
          </li>
          <li class="menu-item text-center">
            <a
              href="#rusky"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Rusky</a
            >
          </li>
          <li class="menu-item text-center">
            <a
              href="#where-find"
              class="block p-4 text-white hover:bg-blue-600 hover:text-white transition-colors duration-300"
              >Donde encontrar</a
            >
          </li>
        </ul>
      </nav>

      <main id="main-content" class="flex-1 flex flex-col relative transition-all duration-300 ml-0">
        <section id="rusky" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Rusky</h2>
          <p class="text-lg text-gray-600 mb-8">
            Este es un avatar editado y diseñado específicamente para VRChat. <br />
            Es bastante popular y es utilizado por muchos usuarios por las siguientes razones:
          </p>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
              <button id="rusk-model-button">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Modelo base conocido:</h3>
                <p class="text-gray-500">
                  El modelo llamado "Rusk" es popular en VRChat, con 15,016 personas que han expresado su gusto por él.
                  Actualmente, existen más de 1,177 avatares basados en este modelo en la plataforma.
                </p>
              </button>
            </div>
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
              <button id="rusk-custom-button">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Personalización</h3>
                <p class="text-gray-500">
                  Puedes cambiar el color del pelo, orejas, ojos, gafas, horquilla y sudadera. Además, es posible
                  modificar el logo de la sudadera. También tienes la opción de quitar los zapatos, las orejas, el
                  cordón de la sudadera o las medias.
                </p>
              </button>
            </div>
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300">
              <button id="rusk-dances-button">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Bailes</h3>
                <p class="text-gray-500">
                  El avatar cuenta con un total de 78 bailes diferentes en los que si varias personas utilizan este
                  avatar, se sincronizarán y bailarán al mismo tiempo. <br />
                  Además, según el lugar en el que te encuentres, la animación puede cambiar automáticamente.
                </p>
              </button>
            </div>

            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <button id="rusk-props-button">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Accesorios</h3>
                <p class="text-gray-500">
                  El avatar cuenta con accesorios que llegan a ser útiles en ciertos casos, como por ejemplo:<br />
                  un lápiz, una pistola, una espada, una vela, una linterna, una rosa, un refresco, unas barras
                  fluorescentes, unas gorras y muchos más!
                </p>
              </button>
            </div>

            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <button id="rusk-interacts-button">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Interacciones</h3>
                <p class="text-gray-500">
                  Este avatar cuenta con varias interacciones, permitiendo que le puedas agarrar de las orejas, que le
                  puedas dar en la nariz de payaso que tiene y muchas otras que podrás descubrir!
                </p>
              </button>
            </div>

            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <button id="easter-button">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Easter eggs</h3>
                <p class="text-gray-500">
                  Este avatar incluye detalles ocultos que invitan a los usuarios a investigarlo y despertar su
                  curiosidad.
                </p>
              </button>
            </div>

            <div
              id="easter-egg"
              class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
              <div class="bg-white p-8 rounded-md shadow-lg">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">PIENSA...</h3>
                <p class="text-red-700">Solo lo podrás comprobar dentro de VRChat!</p>
                <br />
                <p class="text-2xl font-bold text-gray-700 mb-4">Pista easter egg:</p>
                <br />
                <p>
                  Siempre te acompaña desde que naces, reside en tu interior y es una parte única de ti.<br />
                  Llama a tu amigo para comprobarlo y te darás cuenta que es una patata.
                </p>
              </div>
            </div>

            <div
              id="rusk-model"
              class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
              <div class="relative w-5/6 max-w-3xl h-auto bg-white p-4 rounded-lg">
                <lite-youtube videoid="_P9nO7IHKFg" params="controls=1"></lite-youtube>
              </div>
            </div>

            <div
              id="rusk-custom"
              class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
              <div class="relative w-5/6 max-w-3xl h-auto bg-white p-4 rounded-lg">
                <lite-youtube videoid="aT1FXVcWTPc" params="controls=1"></lite-youtube>
              </div>
            </div>

            <div
              id="rusk-dances"
              class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
              <div class="relative w-5/6 max-w-3xl h-auto bg-white p-4 rounded-lg">
                <lite-youtube videoid="_yD2V_QUJc8" params="controls=1"></lite-youtube>
              </div>
            </div>

            <div
              id="rusk-props"
              class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
              <div class="relative w-5/6 max-w-3xl h-auto bg-white p-4 rounded-lg">
                <lite-youtube videoid="UeQwm46m7-8" params="controls=1"></lite-youtube>
              </div>
            </div>

            <div
              id="rusk-interacts"
              class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50">
              <div class="relative w-5/6 max-w-3xl h-auto bg-white p-4 rounded-lg">
                <lite-youtube videoid="d8j4d_N0_lk" params="controls=1"></lite-youtube>
              </div>
            </div>
          </div>
        </section>

        <div class="block w-full h-10 bg-blue-400"></div>

        <section id="where-find" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">¿Dónde se puede encontrar?</h2>
          <p class="text-lg text-gray-600 mb-8">Puedes encontrarlo en estos sitios:</p>
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <a href="https://vrchat.com/home/avatar/avtr_d73fc045-aa44-4c87-8fd5-8433cccaa168">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">VRChat Web</h3>
                <p class="text-gray-500">Accede directamente al avatar desde aquí.</p>
              </a>
            </div>

            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <a href="https://vrchat.com/home/world/wrld_ca06bece-0320-4b7d-815a-e1f188272318">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Gabrielgsd avatars</h3>
                <p class="text-gray-500">Accede desde mi mundo de avatares.</p>
              </a>
            </div>

            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <a href="https://vrchat.com/home/world/wrld_57514404-7f4e-4aee-a50a-57f55d3084bf">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Prismic's Avatar Search</h3>
                <p class="text-gray-500">
                  Accede desde el mundo de buscador de avatares y busca por "Rusk", "Rusky" o por "Gabrielgsd".
                </p>
              </a>
            </div>
          </div>
        </section>

        <div class="block w-full h-10 bg-blue-400"></div>

        <section id="rusky-variants" class="w-full bg-gray-100 p-8 mt-0 text-center rounded-lg shadow-lg">
          <h2 class="text-3xl font-extrabold text-gray-800 mb-4">Rusky variantes</h2>
          <p class="text-lg text-gray-600 mb-8">Aquí puedes encontrar variantes del avatar rusky:</p>

          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <a href="/soundboard">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Rusky soundboard</h3>
                <p class="text-gray-500">Rusky con panel de sonidos, accede al soundboard desde aquí.</p>
              </a>
            </div>

            <div class="bg-white p-6 rounded-lg shadow hover:shadow-xl transition-shadow duration-300 text-center">
              <a href="https://vrchat.com/home/avatar/avtr_de578a4b-3c90-4cc4-aca2-f3ec800f3db2">
                <h3 class="text-2xl font-bold text-gray-700 mb-4">Rusky Pajaporte</h3>
                <p class="text-gray-500">Rusky con la "Cartera Digital" Beta</p>
              </a>
            </div>
          </div>
        </section>

        <footer class="bg-blue-400 text-white p-4 flex justify-between items-center">
          <div class="text-lg font-bold">© <span id="current-year"></span> Gabrielgsd</div>
          <div class="space-x-4">
            <a href="https://github.com/GabrielgsdCIUwU" target="_blank" class="text-white hover:text-gray-300">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.twitch.tv/gabrielgsd_ci" target="_blank" class="text-white hover:text-gray-300">
              <i class="fab fa-twitch"></i>
            </a>
            <a href="https://www.youtube.com/@gabrielgsd" target="_blank" class="text-white hover:text-gray-300">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://ko-fi.com/gabrielgsd" target="_blank" class="text-white hover:text-gray-300 relative">
              <i class="fas fa-ko-fi"></i>
            </a>
          </div>
        </footer>

        <script>
          document.getElementById("current-year").textContent = new Date().getFullYear();
        </script>
        <script src="/resources/js/rusky.js"></script>
      </main>
    </div>
  </body>
</html>
