<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/resources/img/Gabri-Watching-Icon.jpg" type="image/png" />
    <title>Soundboard</title>
    <link rel="stylesheet" href="/resources/css/soundboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>
  <body>
    <div class="controls">
      <button id="stop-all">STOP ALL</button>
      <button id="add-sound">Add Sounds</button>
      <div class="volume-controls">
        <label for="volume">Volume:</label>
        <input type="range" id="volume" min="0" max="1" step="0.01" value="1" />
        <label for=""></label>
        <label for="volume-wl">Remote Volume:</label>
        <input type="range" id="volume-wl" min="0" max="1" step="0.01" value="1" />
      </div>
    </div>

    <div class="tabs">
      <!-- Pestañas dinámicas se generarán aquí -->
    </div>

    <div id="launchpad" class="launchpad">
      <!-- Botones dinámicos se generarán aquí -->
    </div>

    <div id="add-sound-modal" class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Añadir Sonido de YouTube</h2>
        <form id="add-sound-form">
          <label for="youtube-url">YouTube URL:</label>
          <input type="text" id="youtube-url" required />
          <br>
          <label for="folder-name">Choose or make a folder:</label>
          <input type="text" id="folder-name" placeholder="Ej: Nueva carpeta" required list="folder-list" />

          <datalist id="folder-list">
            <!-- Carpetas dinámicas se generarán aquí -->
          </datalist>

          <button type="submit">Add</button>
        </form>
      </div>
    </div>

    <footer class="footer">
      <div class="text-lg font-bold">© <span id="current-year"></span> Gabrielgsd</div>
      <div class="space-x-4">
        <a href="https://github.com/GabrielgsdCIUwU" target="_blank" class="text-white hover:text-gray-300">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.twitch.tv/gabrielgsd_ci" target="_blank" class="text-white hover:text-gray-300">
          <i class="fab fa-twitch"></i>
        </a>
        <a href="https://www.youtube.com/@gabrielgsd" target="_blank" class="text-white hover:text-gray-300">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://ko-fi.com/gabrielgsd" target="_blank" class="text-white hover:text-gray-300 relative">
          <i class="fas fa-ko-fi"></i>
        </a>
      </div>
    </footer>

    <script>
      document.getElementById("current-year").textContent = new Date().getFullYear();
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/resources/js/soundboard-interact.js"></script>
  </body>
</html>
