<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/resources/img/Gabri-Watching-Icon.jpg" type="image/png" />
    <title>Soundboard</title>
    <link rel="stylesheet" href="/resources/css/soundboard.css" />
  </head>
  <body>
    <div class="controls">
      <button id="stop-all">STOP ALL</button>
      <div class="volume-controls">
        <label for="volume">Volume:</label>
        <input type="range" id="volume" min="0" max="1" step="0.01" value="1" />
      </div>
    </div>

    <div class="tabs">
      <!-- Pestañas dinámicas se generarán aquí -->
    </div>

    <div id="launchpad" class="launchpad">
      <!-- Botones dinámicos se generarán aquí -->
    </div>

    <script src="/resources/js/soundboard.js"></script>
  </body>
</html>
