@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 12px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357abd;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}

body,
html {
  font-family: "Comic Neue", cursive, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.fa-ko-fi::before {
  content: "\f0f4";
  display: inline-block;
  font-size: 1.1em;
  line-height: 0.45em;
  margin: -0.45em 0 0 -0.2em;
  overflow-y: hidden;
  padding-top: 0.45em;
}

.fa-ko-fi::after {
  color: #000;
  content: "\f004";
  font-size: 50%;
  font-weight: 900;
  margin: 0.5em 0 0 -2em;
  position: absolute;
}
