::-webkit-scrollbar {
  width: 12px;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357abd;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 10px;
}

body,
html {
  font-family: "Comic Neue", cursive, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.fa-ko-fi::before {
  content: "\f0f4";
  display: inline-block;
  font-size: 1.1em;
  line-height: 0.45em;
  margin: -0.45em 0 0 -0.2em;
  overflow-y: hidden;
  padding-top: 0.45em;
}

.fa-ko-fi::after {
  color: #000;
  content: "\f004";
  font-size: 50%;
  font-weight: 900;
  margin: 0.5em 0 0 -2em;
  position: absolute;
}

/* Personalización del carrusel */
.carousel-container {
  display: flex;
  gap: 16px; /* Espacio entre los carruseles */
}
.carousel-wrapper {
  flex: 1;
  min-width: 300px; /* Ajusta el ancho mínimo según tu diseño */
}
.carousel {
  position: relative;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}
.carousel-content {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif; /* Fuente similar a Twitter */
}
.carousel-content .name {
  font-weight: bold;
  color: #1da1f2; /* Color de nombre similar al de Twitter */
  margin-bottom: 8px; /* Espacio entre nombre y comentario */
}
.carousel-content .comment {
  color: #657786; /* Color de texto de comentario similar al de Twitter */
}
.carousel-controls {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.carousel-controls button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px; /* Borde redondeado más suave */
  padding: 8px 16px; /* Tamaño más grande para un botón más rectangular */
  margin: 0 4px;
  cursor: pointer;
  transition: background 0.3s;
}
.carousel-controls button:hover {
  background: #0056b3;
}

/* Formulario de Comentario */


#comment-form .form-content {
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
  width: 100%;
}

#comment-form input,
#comment-form textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

#comment-form textarea {
  resize: none; 
  max-height: 200px; 
  overflow-y: auto; 
}
